@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: contain;
}
.button:active {
    background-color: #ffbf00;
}

@font-face {
  font-family: 'SF Sports Night';
  src: url('/fonts/SF Sports Night NS.ttf');
}

@font-face {
  font-family: 'SF Sports Night NS';
  src: url('/fonts/SF Sports Night NS.ttf');
}
